<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>My Flask App</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
        <header>
            <img src="images/dennis.png" alt="A color photo of Dennis wearing an oxford shirt and a quarter zip sweater, outside." class="profile-img">
            <nav>
                <ul>
                    <li><a href="#hero">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="hero">
                <div class="section-inner">
                    <img src="images/dennis.png" alt="A color photo of Dennis wearing an oxford shirt and a quarter zip sweater, outside." class="profile-img">
                    <h1>Hi, I'm Dennis.</h1>
                </div>
                </section>
                <section id="about">
                    <div class="section-inner">
                        <h2>About me</h2>
                        <p>I'm professional translator and programmer from Akron.</p>
                        <h3>Skills</h3>
                        <ul>
                            <li>Python</li>
                            <li>Django</li>
                            <li>Flask</li>
                            <li>MySQL</li>
                            <li>HTML/CSS</li>
                            <li>German (fluent)</li>
                            <li>French (business-ready)</li>
                        </ul>
                    </div>
                </section>
                <section id="contact">
                    <div class="section-inner">
                        <h2>Contact me</h2>
                        <p>You can find me on:</p>
                        <ul>
                            <li><a href="https://mastodon.social/@hwaet">Mastodon</a></li>
                            <li><a href="https://github.com/lehrer21">Github</a></li>
                            <li><a href="https://www.linkedin.com/in/dennisboyd1/">Linkedin</a></li>
                        </ul>
                        <p>Or, you can email me here.</p>
                    </div>
                </section>
            </main>
            <footer>
                © Dennis Boyd, 2023
            </footer>
  </body>
</html>